altgraph==0.17.3
cx-freeze
lief==0.14.1
opencv-python==4.8.0.74
packaging==23.2
pefile==2023.2.7
pillow==11.1.0
platformdirs==4.2.0
pygame==2.6.1
pyinstaller
pyinstaller-hooks-contrib==2024.2
PySide6
PySide6_Addons
PySide6_Essentials
pywin32-ctypes
pyzbar==0.1.9
setuptools==69.1.1
shiboken6
wheel==0.42.0
reportlab
requests
python-dotenv

